* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .CardList {
    display: flex;
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fill , minmax(300px, 1fr)); */
    flex-wrap: wrap;
    justify-content: space-evenly; 
    gap: 20px; 
    padding: 16px;
    max-width: 1200px;
    margin: 30px auto;
    background-color: white;
    border-radius: 8px; 
    overflow: hidden; 
  }
  

  @media (max-width: 1024px) {
    .CardList {
      gap: 16px; 
    }
  }
  
  @media (max-width: 768px) {
    .CardList {
      justify-content: center; 
      gap: 12px; 
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .CardList {
      gap: 8px; 
      padding: 8px;
    }
  }
  